@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.em-icon-big{font-size: 20px;}

.icon-pencil:before {
	content: "\e600";
}
.icon-user:before {
	content: "\e601";
}
.icon-checkmark:before {
	content: "\e602";
}
.icon-cross:before {
	content: "\e603";
}
.icon-light-bulb:before {
	content: "\e604";
}
.icon-plus:before {
	content: "\e605";
}
.icon-trash:before {
	content: "\e606";
}
.icon-clipboard:before {
	content: "\e607";
}
.icon-key:before {
	content: "\e608";
}
.icon-disk:before {
	content: "\e60a";
}
.icon-lock:before {
	content: "\e609";
}
.icon-eye:before {
	content: "\e60b";
}


.em-custom-input-group
{
    background-color: #2383c4;
    min-width: 100px;
    color: #FFF;
}

.em-back-to-index
{
    position: absolute;
    right:15px;
    top:10px;
    z-index:1;
    min-width: 50px;
}
.em-back-to-api
{
    position: absolute;
    right:15px;
    top:48px;
    z-index:1;
    min-width: 50px;
}

.em-preview-route-frame
{
    position:relative;
    height:500px;
    overflow:hidden;
    overflow-y: scroll;
}

.em-preview-route-iframe
{
    border:1px solid #999999;
    width: 100%;
    height:500px;
}

.em-ace-editor
{
    height: 500px;
}

.em-margin-right { margin-right: 15px }
.em-margin-top5 { margin-top: 5px }

.em-docs-frame
{
    border:0px;
    width:592px;
    position:relative;
    height:500px;
    overflow:scroll;
    font-size:14px;
}

.em-breadcrumb{ margin-bottom:0px;}

.em-list
{
    margin-top:30px;
}
.em-header-button,
.em-doc-input
{
    min-width:100px;
}

.em-header-button
{
    text-align: center;
}

.em-ace-description-preview
{
    height: 500px;
    background: #FFF;
    overflow: scroll;
}